<table class="table table-dark table-striped">
    <thead>
        <th>NOSSOS PROFESSORES</th>

        <tr>
            <th>NOME</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of professores; let i = index">
            <td>{{p.nome}}</td>
            <button class="btn btn-warning" (click)="editarProfessor()">Editar</button>
            <button class="btn btn-danger" (click)="excluirProfessor(professores)">Excluir</button>
        </tr>
    </tbody>
</table>


<button class="btn btn-success" (click)="novoProfessor()">Novo Professor</button>
<router-outlet></router-outlet>
